body {
    margin: 0;
    background: #3c3f41;
}

.perk-page__title-container {
    display: -webkit-flex;
    justify-content: center;
}

.perk-page__title-container .perk-page__title {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    max-width: 170px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #4a4a4a;
    margin: 10px 0;
}

.perk-page__title-container--popup {
    background: #ededed;
    margin-top: -20px;
}

.perk-page-wrap {
    font-size: 0;
    text-align: center;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    background: #2b2b2b;
}

.perk-page-wrap:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.perk-page-wrap.perk-page-wrap--build {
    justify-content: center;
    padding-top: 12px;
}

.perk-page-wrap--popup {
    justify-content: center;
}

.perk-page-wrap .perk-page {
    display: inline-block;
    vertical-align: bottom;
    max-width: 170px;
    box-sizing: border-box;
}

.SpectateSummoner .perk-page-wrap {
    background: #ededed;
    margin-bottom: 10px;
}

.champion-overview__data .perk-page-wrap, .champion-stats__table .perk-page-wrap {
    text-align: left;
}

.champion-stats__table .perk-page-wrap {
    margin-top: 12px;
    margin-bottom: 12px;
}

.MatchBuild .RuneBuild .perk-page-wrap {
    padding-bottom: 10px;
}

.perk-page:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.perk-page__row {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.perk-page__item {
    display: table-cell;
    padding: 4px 0;
    text-align: center;
}

.perk-page__image {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ededed;
    margin: 0 auto;
    overflow: hidden;
}

.perk-page__image img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.perk-page__image--small {
    width: 24px;
    height: 24px;
}

.perk-page__item--keystone .perk-page__image {
    background: #ddd;
}

.perk-page__item--mark {
    width: 100%;
}

.perk-page__item--active .perk-page__image img {
    opacity: 1;
}

.perk-page__item--active.perk-page__item--keystone .perk-page__image {
    background: #000;
}

.page-divider {
    width: 1px;
    height: 200px;
    background-color: #ddd;
    margin: 0 8px;
}

.page-spacer {
    margin: 0 8px;
}

.fragment-page {
    display: -webkit-flex;
    align-items: flex-end;
    margin: 0px 8px 4px 4px;
}

.fragment-page > .fragment__summary {
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.fragment-page > .fragment__detail {
    margin-left: 24px;
}

.fragment-page > .fragment__detail > .fragment__row {
    display: -webkit-flex;
    margin-top: 16px;
}

.fragment-page > .fragment__detail > .fragment__row > .fragment {
    margin-left: 12px;
}

.fragment-page > .fragment__detail > .fragment__row > .fragment:first-child {
    margin-left: 0;
}

.fragment-page .active {
    opacity: 1;
}

.fragment {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #e5e5e5;
}

.fragment * {
    width: 24px;
    height: 24px;
    background-color: #e5e5e5;
}

.fragment__line {
    width: 1px;
    height: 16px;
    background-color: #e5e5e5;
}
